* {
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 0.0000001em;
    background: cornsilk;
    font-family: sans-serif;
}

.article {
    max-width: 680px;
    padding: 24px;
}

.article__heading {
    margin: 0 0 1.5rem 0;
    color: palevioletred;
}

.article__lead{
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    font-family: serif;
}

.figure__image {
    height: auto;
    max-width: 100%;
}

.figure__caption {
    text-align: center;
    font-style: italic;
    margin: 8px 0 0;
}